<div class="fretboard">
  <%= for config <- @configs do %>
    <.live_component module={StringComponent} id={config.id} note={config.note} chord_notes={@chord_notes}/>
  <% end %>
</div>

<.live_component module={ChordSelectorComponent} id="chord-selector" chords={@chords} chords_order={@chords_order}/>
