@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

:root {
    --fretboard-height: 300;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #35353535;
    font-family: Lato, sans-serif;
}

.fretboard {
    display: flex;
    flex-direction: column;
    background: #be975b;
    width: 100%;
    height: calc(var(--fretboard-height) * 1px);
    margin-top: 50px;
}

.string {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.string:before {
    content: '';
    width: 100%;
    height: 10px;
    background: linear-gradient(#eee, #999);
    box-shadow: 76px 3px 10px #806233;
    z-index: 1;
    position: absolute;
    top: 22px;
}

.note-fret {
    display: flex;
    flex: 1;
    border-right: 10px solid;
    border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
    justify-content: center;
    align-item: center;
    position: relative;
}

.note-fret:first-child {
    background: #161717;
    max-width: 76px;
    min-width: 76px;
    border-right: 12px solid;
    flex-grow: 0;
    flex-shrink: 0;
    border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
}

.note {
    content: attr(data-note);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    background: teal;
    z-index: 2;
    color: #eee;
}

.single-fretmark:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #806233;
    top: 150px;
    transform: translate(0, -50%)
}

.double-fretmark:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #806233;
    top: 58px;
    transform: translate(-140%, 50%);
}

.double-fretmark:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #806233;
    top: 208px;
    transform: translate(-140%, 50%);
}
